.uBikeName{
    font-size: large;
}

#clock{
    font-family: 'GoogleSans-Regular', sans-serif;
}

body {
    font-family: 'GoogleSans-Regular','Noto Sans TC', sans-serif;
}

@font-face {
    font-family: GoogleSans-Regular;
    src: url(GoogleSans-Regular.ttf);
}