h1 {
    font-size: 100px; 
}

.ubikeName1 {
    font-size: 60px; 
}

.ubikeName2 {
    font-size: 60px; 
}

.bike-detail1 {
    font-size: 26px;
}

.bike-detail2 {
    font-size: 26px;
}

.bike-detail3 {
    font-size: 26px;
}

.bike-detail4 {
    font-size: 26px;
}

.bike-detail5 {
    font-size: 26px;
}

.bike-detail6 {
    font-size: 26px;
}
#ubikeUpTime1, #ubikeUpTime2, #ubikeUpTime3, #ubikeUpTime4, #ubikeUpTime5, #ubikeUpTime6 {
    font-size: 16px;
}

.grid-container {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute space between columns */
}

/* Style for each column */
.grid-item {
    flex: 1; /* Equal width for both columns */
    padding: 20px; /* Add padding for spacing */
    border: 1px solid #ddd; /* Add borders for visualization */
}