body {
    background-color: deepskyblue;
    font-family: 'GoogleSans-Regular','Noto Sans TC', sans-serif;
    transition: background-color 12s ease;
}

.uBikeName{
    font-size: large;
}

#clock{
    font-family: 'GoogleSans-Regular', sans-serif;
}

#ubike1, #ubike2, #ubike3, #ubike4, #ubike5, #ubike6{
    transition: background-color 3s ease;
}

#center-info{
    overflow-y: auto; /* Add a scrollbar if content exceeds max-height */
}

#weather{
    background-image: url("image/night-sky.jpg");
}

@font-face {
    font-family: GoogleSans-Regular;
    src: url(GoogleSans-Regular.ttf);
}